@media all and (max-width: 1750px) {
    .discription {
        .about-us {
            padding: 51px 300px 51px 110px;
        }
    }

    .clients {
        .companies {
            padding: 0 300px;
        }
    }
}

@media all and (max-width: 1700px) {
    .clients {
        .clients-content {
            padding: 0 10%;
        }
    }
}

@media all and (max-width: 1600px) {
    .header-background {
        height: 600px;
    }

    .header-content {
        .booking {
            margin-bottom: 80px;
        }
    }

    .man {
        width: 358px;
        height: 550px;
    }
    
    .content {
        padding: 0 105px !important;
    }

    .discription {
        .about-us {
            padding: 51px 105px 51px 110px;
        }
    }

    .clients {
        .clients-content {
            padding: 0 40px;
        }
        .wrapper-slider {
            min-width: 1200px;
        }
    }
}

@media all and (max-width: 1350px) {
    .clients {
        .clients-content {
            padding: 0 20px;
        }
        .wrapper-slider {
            min-width: 1000px;
        }
        .slider {
            left: 20px;

            .slide {
                margin-right: 20px;
            }
        }
    }
    .header-content {
        .booking {
            margin-bottom: 40px;
        }
    }
}

@media all and (max-width: 1200px) {
    .man {
        width: 176px;
        height: 270px;
    }
    .discription {
        flex-direction: column;
        align-items: center;
        .side-img-2 {
            width: 100%;
            height: 512px;
        }
        .about-us {
            width: 100%;
            background-position-y: 0;
            background-size: cover;
        }
    }
}

@media all and (max-width: 1000px) {
    .intro {
        .intro-content {
            flex-direction: column;
            align-items: center;

            div:first-child {
                margin: 75px 40px -12px 0;
            }

            .side-img {
                margin-bottom: 40px;
            }
        }
    }

    .products {
        iframe {
            width: 80%;
            height: 400px;
        }
    }
}

@media all and (max-width: 800px) {
    .products {
        .services {
            flex-direction: column;
            align-items: center;
            margin: 40px 0 0 0;

            .service {
                margin-bottom: 40px;
            }
        }
    }
}